# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/*
!.vscode/extensions.json
.idea/

# Dependências e logs (caso alguém use ferramentas locais)
node_modules/
*.log

# Arquivos temporários
*.tmp
~$*
